{% extends 'layout.html' %}

{% load static %}

{% block body %}

        <main class="main">

                <!-- Page Title -->
                <div class="page-title" data-aos="fade">
                        <div class="heading">
                                <div class="container">
                                        <div class="row d-flex justify-content-center text-center">
                                                <div class="col-lg-8">
                                                        <h1>Services</h1>
                                                        <p class="mb-0">Services I offer.</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <nav class="breadcrumbs">
                                <div class="container">
                                        <ol>
                                                <li><a href="{% url 'app:index' %}">Home</a></li>
                                                <li class="current">Services</li>
                                        </ol>
                                </div>
                        </nav>
                </div><!-- End Page Title -->

                <!-- Services Section -->
                <section id="services" class="services section">
                        <div class="container">
                                <div class="row gy-4">
                                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                                <div class="service-item  position-relative">
                                                        <div class="icon">
                                                                <i class="bi bi-activity"></i>
                                                        </div>
                                                        {#  <a href="{% url 'app:service-details' %}" class="stretched-link">#}
                                                                <h3>Web Development</h3>
                                                        {# </a>#}
                                                        <p>Offering full-stack web development solutions, I build responsive, user-friendly websites and applications
                                                                using HTML, CSS, JavaScript and frameworks like React and Vue for the frontend. I utilize Django and
                                                                Node.js for backend development ensuring robust server-side performance and secure API integrations.
                                                                My focus is on crafting seamless user experiences and scalable architectures tailored to your business needs.</p>
                                                </div>
                                         </div><!-- End Service Item -->

                                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                                <div class="service-item position-relative">
                                                        <div class="icon">
                                                                <i class="bi bi-easel"></i>
                                                        </div>
                                                        {#<a href="{% url 'app:service-details' %}" class="stretched-link">#}
                                                                <h3>Mobile Apps Design</h3>
                                                        {#  </a>#}
                                                        <p>Specializing in Android development, I create efficient and intuitive mobile applications using Kotlin and Java.
                                                                Leveraging tools like Android Studio and libraries such as Jetpack Compose, I design apps that are both functional
                                                                 and visually appealing. My focus is on delivering high-performance solutions with smooth interactions.</p>
                                                </div>
                                        </div><!-- End Service Item -->

                                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                                                <div class="service-item position-relative">
                                                        <div class="icon">
                                                                <i class="bi bi-bounding-box-circles"></i>
                                                        </div>
                                                        {# <a href="{% url 'app:service-details' %}" class="stretched-link">#}
                                                                <h3>Database Management</h3>
                                                        {# </a>#}
                                                        <p>I design and maintain efficient data storage solutions using SQLite and MongoBD. My expertise includes database
                                                                optimization, data integrity and secure access control ensuring your data is structured for optimal performance.
                                                                I also utilize Google's Firebase to streamline database interactions supporting various application needs</p>
                                                </div>
                                        </div><!-- End Service Item -->

                                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                                                <div class="service-item position-relative">
                                                        <div class="icon">
                                                                <i class="bi bi-bounding-box-circles"></i>
                                                        </div>
                                                        {#<a href="{% url 'app:service-details' %}" class="stretched-link">#}
                                                                <h3>Software Development</h3>
                                                        {# </a>#}
                                                        <p>As a software developer, I specialize in creating efficient, scalable solutions tailored to your business needs.
                                                                From web and mobile applications to backend systems and databases, I deliver high-quality, reliable code that enhances
                                                                functionality and user experience. My focus is on delivering clean, reliable code that enhances functionality, user experience,
                                                                and overall performance.</p>
                                                </div>
                                        </div><!-- End Service Item -->
                                </div>
                        </div>
                </section><!-- /Services Section -->
        </main>

{% endblock %}